<% provide(:title, "Log in") %>
<h1>Log in</h1>
<div class="form-group">
  <%= form_for(:session, url: login_path) do |f| %>

    <div class="form-group">
      <label class="form-label"> Email: </label><br><br><br>
      <%= f.text_field :email, class: "bigFont" %>
    </div>

    <div class="form-group">
      <label class="form-label"> Password: </label><br><br><br>
      <%= f.text_field :password, class: "bigFont" %>
    </div>

    <%= f.submit "Log in", class: "button" %>
  <% end %>

  <p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>
