<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div>
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <label class="form-label"> Name: </label><br><br><br>
      <%= f.text_field :name, class: "bigFont" %>
    </div>

    <div class="form-group">
      <label class="form-label"> Email: </label><br><br><br>
      <%= f.text_field :email, class: "bigFont" %>
    </div>

    <div class="form-group">
      <label class="form-label"> Password: </label><br><br><br>
      <%= f.text_field :password, class: "bigFont" %>
    </div>

    <div class="form-group">
      <label class="form-label"> Password Confirmation: </label><br><br><br>
      <%= f.text_field :password_confirmation, class: "bigFont" %>
    </div>

    <%= f.submit "Create my account", class: "button" %>
  <% end %>
</div>
